<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlink}}
</head>
<body>
     {{>navbar}}

     <!-- main header -->
     <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                          <img src="images/pic_main.jpg" alt="Nitish" class="img-fluid" title="Nitish Sharma">
                        </figure> 
                      </div>
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Nitish Sharma Weather App</p>
                        <h1>I am <span class="text-clr">Frontend Developer</span></h1>
                        <a href="/about"><button>About Me</button></a>
                     </div>
                    
                </div>
            </div>
        </div>
     </div>

      <!-- footer code -->

    {{>footer}}
</body>
</html>